<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/meta.ejs") %>
    <title><%= title %></title>
  </head>
  <style>
    .admin-layout {
      display: flex;
    }

    main {
      padding: 2rem;
      flex: 1;
    }
  </style>

  <body>
    <%- include("../layouts/navbarAdmin.ejs") %>
    <div class="admin-layout">
      <%- include("../layouts/sidebar-admin.ejs") %>
      <main>
        <h1 class="fw-bold">Transaction History</h1>
        <% users.forEach((user,indexUser) => { %>
          <article class="my-5">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="<%= user.Biodatum.image %>" alt="" srcset="" height="35" width="35">
              <div class="mx-2"></div>
              <div>
              <h2 class="h5"><%= user.Biodatum?.fullName %></h2>
              <p class="block"><%= user.email %></p>
 
              </div>
           </div>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% user.Products.forEach((product,index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td>
                    <a href="/admin/products/<%= product.id %>/edit">
                      <%= product.name %>
                    </a>
                  </td>
                  <td><%= product.Order.quantity %></td>
                  <td><%= product.Order.totalPriceInRupiah %> </td>
                  <td><%= product.Order.createdAtInID %></td>
                  <td>
                      <button type="button" class="btn btn-sm
                          btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalInfo-<%= index %>-<%= indexUser %>">
                        <i class="bi bi-info-circle-fill"></i>
                      </button>
                      <div class="modal fade" id="modalInfo-<%=index %>-<%= indexUser %>" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Info</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <strong>Status</strong>
                              <p>
                                <%= product.Order.showStatus %>
                              </p>
                              <strong>Shipping Address</strong>
                              <p>
                                <%= product.Order.address %>
                              </p>
                              <strong>Your Notes</strong>
                              <p>
                                <%= product.Order?.note ? product.Order?.note : "-" %>
                              </p>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>

                </tr>
                <% }) %>
              </tbody>
            </table>
          </article>
        <% }) %>
      </main>
      <%- include("../partials/scripts.ejs") %>
    </div>
  </body>
</html>
