<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/meta.ejs") %>
    <title>Edit Product</title>
    <style>
      .admin-layout {
        display: flex;
      }

      main {
        padding: 2rem;
        flex: 1;
      }
    </style>
  </head>

  <body>
    <%- include("../layouts/navbarAdmin.ejs") %>
    <div class="admin-layout">
      <%- include("../layouts/sidebar-admin.ejs") %>
      <main>
        <div class="container">
          <h1 class="fw-bold">Edit Product</h1>
          <form method="POST" enctype="multipart/form-data">
            <div class="my-3">
              <label for="">Image</label>
              <input class="form-control" type="file" name="image" />
            </div>
            <div class="my-3">
              <label for="">Product Name</label>
              <input
                class="form-control"
                type="text"
                name="name"
                placeholder="Box"
                value="<%= product.name %>"
              />
            </div>
            <div class="my-3">
              <label for="">Stock</label>
              <input
                class="form-control"
                type="text"
                name="stock"
                placeholder="0"
                value="<%= product.stock %>"
              />
            </div>
            <div class="my-3">
              <label for="">Price</label>
              <input
                class="form-control"
                type="number"
                name="price"
                placeholder="100000"
                value="<%= product.price %>"
              />
            </div>
            <div class="my-3">
              <label for="">Description</label>
              <textarea
                class="form-control"
                name="description"
                placeholder="..."
              ><%= product.description %></textarea>
            </div>
            <div class="my-3">
              <label for="">Category</label>
              <select class="form-control" name="CategoryId" id="">
                <option value="">Choose Category</option>
                <% categories.forEach(category => { %>
                  <option <%= category.id == product.CategoryId ? "selected" : "" %> value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
            
              </select>
            </div>
            <button class="btn btn-primary mt-4">Save</button>
          </form>
        </div>
      </main>
    </div>
    <%- include("../partials/scripts.ejs") %>
  </body>
</html>
