<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/meta.ejs") %>
    <title><%= title %></title>
    <style>
      body{
        min-height: 100vh;
      }

      .admin-layout{
        display: flex;
        min-height: 100vh;
      }

      main{
        padding: 2rem;
      }

    </style>
  </head>

  <body>
      <%- include("../layouts/navbarAdmin.ejs") %>
    <div class="admin-layout">
      <%- include("../layouts/sidebar-admin.ejs") %>
      <main>
        <h1 class="fw-bold">Our Products</h1>

        <a class="btn btn-primary my-2" href="/admin/products/add">Add Product</a>

        <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          
          </style>
          </head>
          <body>
          
          
          <table>
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
            <tr>
              <% data.forEach((e)=> { %>
                <tr>
                  <td><img class="rounded" src="<%= e.image %>" alt="" height="250" width="250"></td>
                  <td><%= e.name %></td>
                  <td><%= e.stock %></td>
                  <td><%= e.price %></td>
                  <td><%= e.description %></td>
                  <td><%= e.Category.name %></td>
                  <td>
                    <a class="btn btn-warning" href="/admin/products/<%= e.id %>/edit">Edit</a>
                    <a class="btn btn-danger" href="/admin/products/<%= e.id %>/delete">Delete</a>
                    <a class="btn btn-info" href="/admin/products/<%= e.id %>/restock">Restock</a>
                </td>
                </tr>
              <%}) %>
            </tr>
      </main>
    </div>
    

    <%- include("../partials/scripts.ejs") %>
    <%- include("../partials/sweet-alert.ejs") %>

    
  </body>
</html>
