<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/meta.ejs") %>
    <title><%= title %></title>
    <style>
      body{
        min-height: 100vh;
      }

      .admin-layout{
        display: flex;
        min-height: 100vh;
      }

      main{
        padding: 2rem;
      }

    </style>
  </head>

  <body>
    <div class="admin-layout">
      <%- include("../layouts/sidebar-admin.ejs") %>
      <main>
        <h1>Daftar Produk</h1>

        <a href="/admin/products/add">Add Product</a>

        <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
          </style>
          </head>
          <body>
          
          
          <table>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Stock</th>
              <th>Price</th>
              <th>description</th>
              <th>Category</th>
            </tr>
            <tr>
              <% data.forEach((e)=> { %>
                <tr>
                  <td><%= e.image %></td>
                  <td><%= e.name %></td>
                  <td><%= e.stock %></td>
                  <td><%= e.price %></td>
                  <td><%= e.description %></td>
                  <td><%= e.CategoryId %></td>
                </tr>
              <%}) %>
            </tr>
      </main>
    </div>
    

    <%- include("../partials/scripts.ejs") %>

    
  </body>
</html>
