<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("../partials/meta.ejs") %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include("../layouts/navbar.ejs") %>
    <header>
      <div class="container">
        <h1 class="fw-bold my-5">Transaction History</h1>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="overflow-x-scroll">
          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach((product,index)=> { %>
                <tr class="py-2">
                  <td class="align-middle">
                    <%= index +1 %>
                  </td>
                  <td class="align-middle">
                    <img class="rounded" src="<%= product.image %>" alt="" width="150" height="150"
                      style="object-fit: cover;">
                  </td>
                  <td class="align-middle">
                    <%= product.name %>
                  </td>
                  <td class="align-middle">
                    <%= product.Order.quantity %>
                  </td>
                  <td class="align-middle">
                    <%= product.Order.totalPriceInRupiah %>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex">
                      <button type="button" class="btn btn-sm
                          btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalInfo-<%= index %>">
                        <i class="bi bi-info-circle-fill"></i>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modalInfo-<%= index %>" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Info</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <strong>Your Notes</strong>
                              <p>
                                <%= product.Order?.note ? product.Order?.note : "-" %>
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mx-1"></div>
                      <a class="btn btn-outline-danger btn-sm d-flex" href="/cart/<%= product.Order.id %>/delete"">
                            <i class=" bi bi-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <% })%>
            </tbody>
             
          </table>

        </div>
      </div>
    </main>
    <%- include("../partials/scripts.ejs") %>
    <%- include("../partials/sweet-alert.ejs") %>
    <%- include("../layouts/footer.ejs") %>
</body>

</html>
